{% extends "base.html" %}

    {% block head_title %}Restaurants {{ block.super }}{% endblock head_title %}

{% block content %}

<h1>My Restaurant <small><a href='{% url "restaurants:create" %}'> Add New</a></small></h1>

<ul>
    {% for obj in object_list %}
    <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a><br>
            {{ obj.name }} {{ obj.location }} {{ obj.category }}</li>
    {% empty %}
    <li><a href='{% url "restaurants:create" %}'> Add One</a></li>
    {% endfor %}
</ul>

{% endblock %}