{% extends 'tour/base.html' %}



{% block content %}
<div class="entry-content margin-top70">
                <div class="vc_row wpb_row vc_row-fluid">
                    <h1 style="text-align: right">{{tour.name}}</h1>
                    <div class="row text-center" style="text-align: center">
                        <div class="col-md-4" style="text-align: center">
                                <div class="rounded-circle" style="background-color:orange" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                                    <div style="padding-top: 50px">
                                        <div>
                                            <i class="fa fa-bed" aria-hidden="true" style="color: black;font-size:48px "></i>
                                        </div>
                                        <h4 href="#" class="title">درجه هتل</h4>
                                        <div class="text">3و4و5 ستاره</div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-4" style="text-align: center">
                            <div class="rounded-circle" style="background-color:orange" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                                <div style="padding-top: 50px">
                                    <div>
                                        <i class="fa fa-calendar" style="font-size:48px;color: black"></i>
                                    </div>
                                    <h4 href="#" class="title">{{tour.start_tour|date:"Y M d"}}</h4>
                                    <div class="text">{{tour.start_tour|date:"D"}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="text-align: center">
                            <div class="rounded-circle" style="background-color:orange" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                                <div style="padding-top: 50px">
                                    <div><i class="fa fa-clock" style="font-size:48px;color: black"></i></div>
                                    <h4 href="#" class="title">زمان حرکت</h4>
                                    <div class="text">{{tour.start_tour|date:"H"}}:{{tour.start_tour|date:"i"}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="wpb_wrapper">
                        <p style="text-align: right">
                            {{tour.description}}
                          </p>

                        <br><br><br>
                        <h3 style="text-align: center;"><strong>جهت دریافت اطلاعات بیشتر و مشاوره با ما در ارتباط باشید </strong><span style="color: #ff9900;">95118311-021</span></h3>
                        <br><br>
                        <p style="text-align: right"><span style="color: #000000;"></p>
                        <br><br><br>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td style="text-align: center;"><strong>هتل</strong></td>
                                <td style="text-align: center;"><strong>ستاره</strong></td>
                                <td style="text-align: center;">DBL</td>
                                <td style="text-align: center;">SGL</td>
                                <td style="text-align: center;">CHD 6-12 BED</td>
                                <td style="text-align: center;">CHD 2-6 NO-BED</td>
                                <td style="text-align: center;">INF NO-BED</td>
                                <td style="text-align: center;">تعداد شب اقامت</td>
                            </tr>
                            
                            </tbody>
                        </table>
                    </div>
    
{% endblock content %}
<div class="entry-content margin-top70">
                <div class="vc_row wpb_row vc_row-fluid">
                    <h1 style="text-align: right">{{tour.name}}</h1>
                    <div class="row text-center" style="text-align: center">
                        <div class="col-md-4" style="text-align: center">
                                <div class="rounded-circle" style="background-color:orange" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                                    <div style="padding-top: 50px">
                                        <div>
                                            <i class="fa fa-bed" aria-hidden="true" style="color: black;font-size:48px "></i>
                                        </div>
                                        <h4 href="#" class="title">درجه هتل</h4>
                                        <div class="text">3و4و5 ستاره</div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-4" style="text-align: center">
                            <div class="rounded-circle" style="background-color:orange" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                                <div style="padding-top: 50px">
                                    <div>
                                        <i class="fa fa-calendar" style="font-size:48px;color: black"></i>
                                    </div>
                                    <h4 href="#" class="title">{{tour.start_tour|date:"Y M d"}}</h4>
                                    <div class="text">{{tour.start_tour|date:"D"}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="text-align: center">
                            <div class="rounded-circle" style="background-color:orange" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                                <div style="padding-top: 50px">
                                    <div><i class="fa fa-clock" style="font-size:48px;color: black"></i></div>
                                    <h4 href="#" class="title">زمان حرکت</h4>
                                    <div class="text">{{tour.start_tour|date:"H"}}:{{tour.start_tour|date:"i"}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="wpb_wrapper">
                        <p style="text-align: right">
                            {{tour.description}}
                          </p>

                        <br><br><br>
                        <h3 style="text-align: center;"><strong>جهت دریافت اطلاعات بیشتر و مشاوره با ما در ارتباط باشید </strong><span style="color: #ff9900;">95118311-021</span></h3>
                        <br><br>
                        <p style="text-align: right"><span style="color: #000000;"></p>
                        <br><br><br>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td style="text-align: center;"><strong>هتل</strong></td>
                                <td style="text-align: center;"><strong>ستاره</strong></td>
                                <td style="text-align: center;">DBL</td>
                                <td style="text-align: center;">SGL</td>
                                <td style="text-align: center;">CHD 6-12 BED</td>
                                <td style="text-align: center;">CHD 2-6 NO-BED</td>
                                <td style="text-align: center;">INF NO-BED</td>
                                <td style="text-align: center;">تعداد شب اقامت</td>
                            </tr>
                            
                            </tbody>
                        </table>
                    </div>
    