


{% for last in last_tour %}
            <div class="item">
                {% comment %} <a href="{{ last.get_absolute_url }}"> {% endcomment %}
                    {% comment %} <img src="{% if product.image %}{{ l.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"> {% endcomment %}
                {% comment %} </a> {% endcomment %}
                <a href="{{ last.get_absolute_url }}">{{ last.name }}</a><br>
                ${{ last.price }}
                {{ last.description }}
                
            </div>
        {% endfor %} 


<p>i am inja</p>