{% extends "tours/base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kashan Holiday</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <script src="{%static "js/jquery3.3.1.js"%}"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{%static "js/bootstrap.min.js" %}"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'tours/tour_style.css' %}">
    <link rel="stylesheet" href="{% static 'tours/main.css' %}">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md  bg-outline-light navbar-wrapper">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img id="top-icon" src="./../img/photographer.png" style="width: 30px; height: 30px;" alt="logo"></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar-Responsive">
            <span class="navbar-toggler-icon my-toggler "></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-Responsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a href="#" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Restuarant</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Hotel</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Tour</a>
                </li>
                <li class="nav-item act">
                    <a href="#" class="nav-link">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
{% block jquery %}

function setPrice(){
    var price = $(".variation_select option:selected").attr("data-price");

    var sale_price = $(".variation_select option:selected").attr("data-sale-price");
    if (sale_price != "" && sale_price != "None" && sale_price != null){
        $("#price").html("<h4>" + sale_price + " <small class='org-price'> " + price + "</small></h4>");
    } else{
        $("#price").html(price);
    }
}
setPrice();
// var price = $(".variation_select option:selected").attr("data-price");
// $("#price").text(price);

$(".variation_select").change(function(){
    setPrice();
    var img = $(".variation_select option:selected").attr("data-img");
    $("img").attr("src", img);

})

{% endblock %}
</script>
{% block content %}

<!--- Image header -->
<!-- <div class="image-header"> -->
    <!-- <img src="./../img/karvansara.jpg" alt=""> -->
<!-- </div> -->

<!-- Portfolio Grid -->
<div class="container">
        <!--<div class="col-md-12 col-xs-12">-->
            <!--<div style="padding-left:380px">-->
                <!--<div style="text-align: center; margin-right:90px">-->
                    <!--<div  class="rounded" style=" background-color: orange;">-->
                        <!--<div style="padding-top:25px ">-->
                            <!--<h3 class="text" style="text-align: center">تور ویژه چهارشب کاشان </h3>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


    <div class="row">
        <div id="page-content" class="col-md-8 col-xs-12">
            <div class="entry-content margin-top70">
                <div class="vc_row wpb_row vc_row-fluid">
                    <!-- <div class="col-sm-8"> -->
                    <h1 style="text-align: right">{{tour.name}}</h1>
                    <!-- </div> -->
                    <div class="row text-center" style="text-align: center">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            {% if object.tourimage_set.count > 0 %}
                            <div class="carousel-inner">
                                <!-- {%  for  data in slider|slice:":3" %} -->
                                {% for img in object.tourimage_set.all %}
                                <div class="carousel-item active">
                                    <!-- <img class="img-fluid" src="{{data.post_img.url}}"> -->
                                    <img id="img" class="img-responsive" src="{{ img.image.url }}">
                                </div>
                                {% endfor %}
                                <!-- {% endfor%} -->
                            </div>
                            {% endif %}
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="wpb_wrapper">
                        <p style="text-align: right">
                            {{tour.description}}
                            <br>
                            <br>

                            
                            <div class="col-sm-4 text-align" align="left">
                                <form method="GET" action="{% url 'cart' %}">
                                    {% if object.tourvariation_set.count > 1 %}
                                    <h4 id="price">{{ object.tourvariation_set.first.price }}</h4>
                                <select name="item" class="form-control variation_select">

                                    {% for vari_obj in object.tourvariation_set.all %}

                                    <option data-sale-price="{{ vari_obj.sale_price }}" data-img="#" data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">{{ vari_obj }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <h4 id="price">{% if object.tourvariation_set.first.sale_price %}
                                        {{ object.tourvariation_set.first.sale_price }}
                                        <small class="org-price"> {{ object.tourvariation_set.first.price }} </small>
                                        {% else %}
                                    <input type="hidden" name="item" value="object.tourvariation_set.first.id">
                                        {{ object.tourvariation_set.first.price }}
                                        {% endif %}
                                </h4>
                            {% endif %}
                            <br>
                            <input type="submit" class="btn btn-dark" value="Add to Cart">
                                </form>
                            <br>
                            <br>
                            <p>Share
                                <br><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                                    <i class="fab fa-facebook-square fa-3x"></i>
                                </a>
                                <a href="#">
                                        <i class="fab fa-twitter-square fa-3x"></i>
                                </a>
                                <a href="#">
                                        <i class="fab fa-telegram fa-3x"></i>
                                </a>
                            </p>
                            </div>
                          </p>

                        <br><br><br>
                        <h3 style="text-align: center;"><strong>جهت دریافت اطلاعات بیشتر و مشاوره با ما در ارتباط باشید </strong><span style="color: #ff9900;">1234567</span></h3>
                        <br><br>
                        <p style="text-align: right"><span style="color: #000000;"></p>
                        <br><br><br>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td style="text-align: center;"><strong>هتل</strong></td>
                                <td style="text-align: center;"><strong>ستاره</strong></td>
                                <td style="text-align: center;">DBL</td>
                                <td style="text-align: center;">SGL</td>
                                <td style="text-align: center;">CHD 6-12 BED</td>
                                <td style="text-align: center;">CHD 2-6 NO-BED</td>
                                <td style="text-align: center;">INF NO-BED</td>
                                <td style="text-align: center;">تعداد شب اقامت</td>
                            </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                <br><br><br>
                
                {% if tour.note %}
                    <div class="vc_row wpb_row vc_row-fluid bcg"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <h3 style="text-align: right"><span style="color: #000000;"><strong>:توضیحات</strong></span></h3>
                            <div>
                                <p style="text-align: right"><span style="color: #000000;"><strong>{{tour.note}}</strong></span></p>
                                
                            </div>

                        </div>
                    </div>
                </div></div></div></div>


                {% endif %}
                    
                

            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="container">
                <div class="row right">
                    <div class="search col-md-12">
                        <div class="search-header">
                            <h1>search</h1>
                        </div>
                        <div class="input-group-prepend">
                                <span class="input-group-text" id="input-text">
                                    <i class="fas fa-search"></i>
                                </span>
                            <input type="text" id="text" class="form-control" maxlength="100"
                                   placeholder="Eenter Your name here">
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="search col-md-12">
                        <div class="search-header">
                            <h1>Category</h1>
                        </div>
                        <div class="cat"><a href="#">a</a></div>
                        <div class="cat"><a href="#">a</a></div>
                        <div class="cat"><a href="#">a</a></div>
                    </div>
                    <div class="pictures col-md-12">
                        <div class="search-header">
                            <h1>Pictures</h1>
                        </div>
                        <div class="row img-gallery">
                            <div class="col-4">
                                <img src="../img/desk.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-4">
                                <img src="../img/desk.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-4">
                                <img src="../img/desk.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-4">
                                <img src="../img/desk.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-4">
                                <img src="../img/desk.png" class="img-fluid" alt="">
                            </div>
                            <div class="col-4">
                                <img src="../img/desk.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

<!--- Footer -->
<footer>
    <div class="container" id="Footer">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="img/w3newbie.png" alt="">
                <hr class="light">
                <p>555-599-5956</p>
                <p>jfgvs@hvis.com</p>
                <p>kfha street jbhsj</p>
                <p>city,uhacus</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our Hours</h5>
                <hr class="light">
                <p>555-599-5956</p>
                <p>jfgvs@hvis.com</p>
                <p>kfha street jbhsj</p>

            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>askcavsa</h5>
                <hr class="light">
                <p>fkjbejsfhlhl</p>
                <p>jfgvs@hvis.com</p>
                <p>kfha street jbhsj</p>
                <p>city,uhacus</p>
            </div>
            <div class="col-md-12">
                <hr class="light-100">
                <h5>&copy; KashanHoliday.com</h5>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<script>
    function bigImg(x) {
        x.style.height = "200px";
        x.style.width = "200px";
    }

    function normalImg(x) {
        x.style.height = "180px";
        x.style.width = "180px";
    }
</script>
</body>
</html>













