{% extends "tour/base.html" %}
{% load static %}


{%block content%}
{% for tour in List_tour %}
    <div class="col-md-6 col-sm-6 col-12 portfolio-item">
        <a class="portfolio-link" href="#portfolioModal1">
        <img class="img-fluid" src="{% if tour.image%}{{tour.image.url}}{%else%}{% static "img/Camel-riding-Maranjab-Desert.jpg" %}{%endif%}" alt="{{tour.name}}">
        </a>
        <div class="portfolio-caption">
            <h4>{{tour.name}}</h4>
             <a href="{{ tour.get_absolute_url }}">{{ tour.name }}</a>
            <p>{{tour.description|truncatewords:8|linebreaks}}</p>
            
        </div>
    </div>
{%endfor%}

{%endblock content%}


            

{% block gallery %}
    {% for photo in Random_photo %}
        <div class="col-4">
            <img src="{% if photo.image%}{{photo.image.url}}{%else%}{% static "img/Camel-riding-Maranjab-Desert.jpg" %}{%endif%}" class="img-fluid" alt="">
        </div>
    {% endfor %}    
{% endblock gallery %}
        
    
    




