{% extends 'tours/base.html' %}
{% load static %}


{% block content %}



    {% for object in object_list %}

    <div class="col-md-4 col-sm-4 col-4 portfolio-item">
            <a class="portfolio-link" href="{{ object.get_absolute_url }}">
                    <img class="img-fluid" src="{% if object.image%}{{object.image.url}}{%else%}{% static "img/Camel-riding-Maranjab-Desert.jpg" %}{%endif%}" alt="{{object.name}}">
            </a>
            <div class="portfolio-caption">
                <h4>{{object.name}}</h4>
                 <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                <p>{{object.description|truncatewords:8|linebreaks}}</p>
                
            </div>
        </div>

    {% endfor %}





{% endblock %}